Package: mapr-ksql
Version: __RELEASE_VERSION__
Section: base
Priority: optional
Architecture: all
Depends: mapr-ksql-internal (>= __RELEASE_VERSION__)
Maintainer: Hewlett Packard Enterprise <ezmeral_software_support@hpe.com>
Description: Ezmeral Ecosystem Pack: KSQL roles package
  Tag: __RELEASE_BRANCH__
  Commit: __GIT_COMMIT__
