Package: mapr-ksql
Version: __RELEASE_VERSION__
Section: base
Priority: optional
Architecture: all
Depends: mapr-ksql-internal (>= __RELEASE_VERSION__)
Maintainer: Hewlett Packard Enterprise
Description: Confluent KSQL distribution included in HPE DataFabric Software Ecosystem Pack
  Tag: __RELEASE_BRANCH__
  Commit: __GIT_COMMIT__
